absl-py==0.13.0
aiofiles==0.8.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
alembic==1.1.0
aniso8601==9.0.1
antiorm==1.2.1
anyio==3.3.4
appdirs==1.4.3
asgiref==3.4.1
astunparse==1.6.3
async==0.6.2
async-generator==1.10
async-timeout==4.0.2
attrs==19.1.0
Automat==0.8.0
backcall==0.1.0
backend==0.2.4.1
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==3.1.1
blinker==1.4
bs4==0.0.1
cachetools==4.2.2
certifi==2019.6.16
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
cloud-init==21.4
colorama==0.4.3
colorclass==2.2.2
colorlog==6.6.0
command-not-found==0.3
configobj==5.0.6
configparser==5.0.2
constantly==15.1.0
croniter==1.1.0
cryptography==2.8
cupshelpers==1.0
cv==1.0.0
cycler==0.10.0
db==0.1.1
db-sqlite3==0.0.1
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.0.1
django-cors-headers==3.11.0
djangorestframework==3.13.1
docstring-parser==0.12
ecdsa==0.17.0
entrypoints==0.3
env==0.1.0
Faker==2.0.1
fastapi==0.70.0
faust==1.10.4
filelock==3.0.12
Flask==1.1.1
Flask-Assets==0.12
Flask-Bcrypt==0.7.1
Flask-Compress==1.4.0
Flask-HTMLmin==2.1.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
flask-restplus==0.13.0
Flask-RQ==0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-SSLify==0.1.5
Flask-Testing==0.8.1
Flask-WTF==0.14.2
flatbuffers==1.12
frozenlist==1.2.0
gast==0.4.0
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.34.1
gTTS==2.2.3
gunicorn==19.9.0
h11==0.12.0
h2==4.1.0
h5py==3.1.0
honcho==1.0.1
hpack==4.0.0
html5lib==1.0.1
htmlmin==0.1.12
httplib2==0.14.0
httptools==0.2.0
hypercorn==0.13.2
hyperframe==6.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
importlib-resources==5.4.0
incremental==16.10.1
inflection==0.5.1
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.3
joblib==1.0.1
jsmin==2.2.2
jsonpatch==1.22
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyter-http-over-ws==0.0.8
kafka-python==1.4.7
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.3
mistune==0.8.4
mode==4.3.2
more-itertools==4.2.0
MouseInfo==0.1.3
multidict==5.2.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.4
nltk==3.6.2
notebook==6.0.3
numpy==1.19.5
oauthlib==3.1.0
opentracing==1.3.0
opt-einsum==3.3.0
outcome==1.1.0
packaging==19.1
panda==0.3.1
pandas==1.3.2
pandocfilters==1.4.2
parso==0.5.2
pathspec==0.9.0
pbr==5.8.0
pexpect==4.6.0
piccolo==0.69.1
piccolo-admin==0.19.6
piccolo-api==0.33.1
pickleshare==0.7.5
Pillow==8.3.1
pipupgrade==1.5.1
platformdirs==2.4.1
playsound==1.3.0
priority==2.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.17.3
psycopg2==2.8.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
PyAutoGUI==0.9.53
pycairo==1.16.2
pycparser==2.21
pycryptodome==3.12.0
pycups==1.9.73
pydantic==1.8.2
PyGetWindow==0.0.9
Pygments==2.3.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyperclip==1.8.2
PyRect==0.1.4
pyRFC3339==1.1
pyrsistent==0.15.5
PyScreeze==0.1.28
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.0
python-debian===0.1.36ubuntu1
python-dotenv==0.19.2
python-editor==1.0.4
python-jose==3.3.0
python-multipart==0.0.5
python3-xlib==0.15
pyttsx3==2.90
pytweening==1.0.4
pytz==2021.1
pywhatkit==5.1
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==5.1.1
QtPy==1.10.0
raygun4py==4.3.0
redis==3.3.8
regex==2021.8.3
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
robinhood-aiokafka==1.1.6
rq==1.1.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
SecretStorage==2.3.1
selenium==4.0.0
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
sos==4.1
soupsieve==2.2.1
SpeechRecognition==3.8.1
speedtest==0.0.1
speedtest-cli==2.1.3
SQLAlchemy==1.3.8
sqlparse==0.4.1
ssh-import-id==5.10
starlette==0.16.0
stevedore==3.5.0
stopwords==1.0.0
systemd-python==234
targ==0.3.6
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.8.2
terminaltables==3.1.10
testpath==0.4.4
testresources==2.0.1
text-unidecode==1.2
threadpoolctl==2.2.0
toml==0.10.2
tomli==2.0.0
tornado==5.1.1
tqdm==4.62.1
traitlets==4.3.3
trio==0.19.0
trio-websocket==0.9.2
Twisted==18.9.0
typing-extensions==4.0.1
ubuntu-advantage-tools==27.4
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
uvicorn==0.15.0
uvloop==0.16.0
venusian==1.2.0
virtualenv==20.0.17
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.3
watchgod==0.7
wcwidth==0.1.8
webassets==0.12.1
webencodings==0.5.1
websockets==10.0
Werkzeug==0.15.5
widgetsnbextension==2.0.0
wikipedia==1.4.0
wordcloud==1.8.1
wrapt==1.12.1
wsproto==1.0.0
WTForms==2.2.1
xgboost==1.4.2
yarl==1.7.2
zipp==3.7.0
zope.interface==4.7.1
